.box{
    background-color:#82b29a;
    width: 90vw;
    height: 90vh;
    border-radius:30px;
    transform: translate(+5%,+3.5%);
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

.header{
    font-style:helvetica;
    font-size: 15px;
    text-align: center;
    color:#3c405b;
    text-shadow: 1px 1px 1px black;
    }

.start-button{
    font-style:helvetica;
    border-radius:15px;
    background-color:#e07a5d;
    width: 300px; 
    height: 70px;
    border: none;
    box-shadow: 4px 4px 4px rgba(74, 149, 104, 0.862);
    font-size:30px;
    color:#f5f1de;
    display: block;
}







.second-display{
    display: flex;/*none*/
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.box2{
    background-color:#82b29a;
    width:90%;
    height:70vh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:30px;
    transform: translate(+5%,+3.5%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

.header2{
    font-style:helvetica;
    font-size:50px;
    font-weight: 100;
    text-align: center;
    color:#3c405b;
    text-shadow: 1px 1px 1px black;

}
.position-dice{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dice{
    width:120px;
    height:120px;
    display:block;
    margin:30px;
}
.dice2{
    width:120px;
    height:120px;
    display:none;
    margin:30px;
}
.dice3{
    width:120px;
    height:120px;
    display:none;
    margin:30px;
}
.count-of-dice{
    background-color:#E07A5D;
    border-radius:30px;
    width:30px;
    height:300px;
    position:absolute;
    left:30px;
    top:50%;
    transform:translate(0,-50%);

}
.slidecontainer {
    width: 100%; /* Width of the outside container */
    transform:rotate(90deg);

  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 300px; /* Full-width */
    height: 25px; /* Specified height */
    background:transparent;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 30px; 
    background: #3c405b;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #3c405b;
    cursor: pointer;
  }

.start-button2{
    font-style:helvetica;
    border-radius:15px;
    background-color:#e07a5d;
    width: 100px; 
    height: 70px;
    border: none;
    box-shadow: 4px 4px 4px rgba(74, 149, 104, 0.862);
    font-size:30px;
    color:#f5f1de;
    display: block;
    position: absolute;
    right:30px;
    bottom:30px;
}
